<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="/styles/admin-styles.css"/>

  <!--GOOGLE FONTS - BUNGEE/SOURCE SANS 3-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
    rel="stylesheet"
  />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</head>
<body style="background-color:lightgrey;">
<header class="header-add-new-menu-item">Tom Hortin - Admin</header>
  <div class="add-new-menu-item">
  <legend>Add New Menu Item</legend>
  <form id="add-menu-item-form" action="/admin" method="post">
      <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
          <label for="photo_url">Photo URL:</label>
          <input type="text" id="photo_url" name="photo_url">
      </div>
      <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description" rows="4" required></textarea>
      </div>
      <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" id="price" name="price" min="0" step="0.01" required>
      </div>
      <div class="btns">
      <button type="submit" class="submit-btn">Add Menu Item</button>
     <p class="cancel-btn"><a href="/admin/menu">Cancel</a></p>
      <div id="error-message" class="error-message"></div>
      </div>
  </form>
</div>

</body>
</html>
