<!DOCTYPE html>
<html lang="en">
<head>
  <title>Check out</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="../styles/checkout.scss">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>

<body>
  <div class="header">
    <span>Restaurant_Name</span>
    <div>
    <span>Order (2 items)</span><span> | Total $$</span>
    <span>Notification Icon</span>
    </div>
  </div><br>
    <div class="form">
    <form action="/checkout" method="post">
      <label for="customer">Enter your name:</label>
      <input type="text" id="customer" name="customer" placeholder="You name" required><br>
      <label for="enterNumber">Enter your mobile number:</label>
      <input id="enterNumber" name="enterNumber" type="tel" placeholder="+19876543210" pattern="[0-9]{10}" required>
      <button type="submit">Place Order</button>
    </form>
    </div>
  <div>

  </div>

</body>
</html>
