<!DOCTYPE html>
<html lang="en">
<head>
  <title>Check out</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>

<body>
  <header>Restaurant_Name</header>
  <div class="checkout-cart">
    <span>Order (2 items)</span>
    <span>| Total $$</span>
    <span>Notification Icon</span>
  </div>
    <form action="" method="post">
      <label for="enterNumber">Enter your mobile number:</label><br>
      <input id="enterNumber" name="enterNumber" type="tel" placeholder="+19876543210" pattern="[0-9]{10}" required>
      <button type="submit">Place Order</button>
    </form>

  <div>

  </div>

</body>
</html>
