<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>Have fun! 🥔</h1>
  <h1>Select from our Menu</h1>
  <ul>
    <% if (menu && menu.length > 0) { %>
      <% for (const item of menu) { %>

        <li><%= item.name %>
          <img src="<%= item.photo_url%>" style="max-width: 100px; max-height: 100px;">
          <p><%= item.description %>  -  <%= item.price %> </p>

        </li>
      <% } %>
    <% } else { %>
      <li>No menu items to display</li>
    <% } %>
  </ul>
</body>

</html>
