// body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;

//   background: white;
//   // background: linear-gradient(
//   //   227deg,
//   //   rgba(163, 208, 219, 1) 0%,
//   //   rgba(163, 176, 219, 1) 20%,
//   //   rgba(163, 173, 219, 1) 34%,
//   //   rgba(163, 219, 208, 1) 59%,
//   //   rgba(163, 208, 219, 1) 74%,
//   //   rgba(163, 208, 219, 1) 100%
//   // );
// }


body {
  background: white;

}

.header {
  display: flex;
<<<<<<< HEAD
  flex-direction: column;
  align-items: center; 
  min-height: 100vh;

  background: white;
=======
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% 10%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem
}

form {
  margin-top: 50px;
  padding: 30px;
  background-color: grey;
  margin: 0% 10%;
  border-radius: 33px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: normal;

}

.mb-3 {
  margin-bottom: 2rem !important; /* overrides Bootstrap spacing */
}

.btn btn-dark {
  padding: 10px 20px;
  font-size: 1.1rem;
>>>>>>> origin/feature/sendSMS
}

.body-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}