
body {
  background: white;

  // padding-top: 100px;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 1%;
  font-family: "Poppins", sans-serif;
  // font-weight: 500;
  font-style: normal;
  font-size: 2rem
}


#checkout-form {
  // margin-top: 50px;
  padding: 30px;
  background-color: lightgray;
  margin: 0% 10%;
  border-radius: 33px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: normal;

}

.mb-3 {
  margin-bottom: 2rem !important; /* overrides Bootstrap spacing */
}

.btn btn-dark {
  padding: 10px 20px;
  font-size: 1.1rem;
}

.body-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  min-height: 100vh;
=======
  // min-height: 100vh;
}

// .menu-container {
//   margin-top: 10px;
//   border-radius: 3px;
// }

.order-summary{
  background-color: lightgray;
  border-radius: 33px;
  padding: 30px;
  margin: 2% 10%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;

}

#home-button {
  padding: 10px 20px;
  margin: 0% 10%;
  font-size: 1rem;
>>>>>>> edcaf85a69ad983b3a50444f194193d34c209e6c
}
